<!-- Loop over each object in the blogs array -->
{{#each blogs as |blog|}}
  <div class='row mb-4 blog'>
    <div class='col-md-5'>
      <h2>
        <a href='/blog/{{blog.id}}'>{{blog.title}}</a>
      </h2>
      <div class='col-md-7'>
        <p>
          {{blog.content}}
        </p>
      </div>
      <p>Created by:
        {{blog.user.username}}
        on
        {{format_date blog.createdAt}}</p>
      <p>Last Updated:
        <!-- Pass updatedAt value to the helper function -->
        <span class='updatedAt'>{{format_date blog.updatedAt}}</span>
      </p>
    </div>
  </div>
{{/each}}